body {
    background-image: url("hintergrund.jpg"); /* Quelle: https://www.markoetter.de/aktuelles/ratgeber/urlaubs-tipp-ein-langes-wochenende-auf-der-maerchenstrasse/ */
    background-size: cover;
}

#kopf {
    text-align: center;
    font-size: 25px;
    font-family: "Snell Roundhand";
    background-color: transparent;
}

#menu {
    margin: -8px;
    padding: inherit;
    background-color: transparent;
    color: black;
    font-size: 22px;
    font-family: "Snell Roundhand";
}

#content {
    color: black;
    font-style: italic;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    width: auto;
    height: auto;
    float: none;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}

/* Falls wir eine Fußzeile gestalten wollen
footer {
    position: absolute;        
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    font-size: 21px;
}*/

/*Linkgestaltung: */

ul, li {
    list-style: none;
    color: black;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    display:inline;        /* Links nebeneinander setzen */
    list-style: none;      /* Navigationspunkte entfernen */
    margin-left: 120px;     /* Abstand von links */ 
}

a:link, a:active, a:visited, a:hover { 
    color: black; 
    text-decoration: none; /* Linkelemente nicht unterstreichen/färben */   
} 
